* {
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 12px;
    color: white;
}

.attribution{
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container{
    display: flex;
    justify-content: center;
    padding: 5rem;
}
.card{
    margin: 1.5rem;
    width: 21rem;
    max-width: 100%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
    text-align: center;
}
.image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.name{
    font-weight: 400;
    color: white;
    font-size: 28px;
}
.location{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    font-size: 16px;
}
.bio{
    font-weight: 400;
    font-size: 14px;
    color: grey;
}
footer{
    text-align: center;
}
button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 19rem;
    border-radius: 0.5rem;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border: none;
    margin: 1rem;
    font-weight: 400;
    font-size: 16px;
    padding: 0.7rem;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
button:focus{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
    outline: none;
}

@media (min-width:600px){
    .card{
        width: 28rem;
    }
    button{
        width: 2rem;
    }
}