* {
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%); /* Slate 300 */
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.attribution{
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    margin: 1rem;
    width: 20rem;
    max-width: 100%;
    background-color: hsl(0, 0%, 100%); /* White */
    box-shadow: 10px 10px 20px hsla(212, 45%, 50%, 0.15);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    text-align: center;
}

.image{
    border-radius: 1rem;
    width: 100%;
    display: block;
}

.heading{
    font-weight: 700;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%); /* Slate 900 */
    margin: 0;
}

.text-body{
    font-weight: 400;
    font-size: 17px;
    color: hsl(216, 15%, 48%); /* Slate 500 */
    margin: 0;
    padding-bottom: 1rem;
}