body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
.container{
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 3rem;
}
.card{
    margin: 1rem;
    height: 30rem;
    width: 20rem;
    background-color: white;
    box-shadow: 10cap;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image{
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.heading{
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}
.text-body{
    text-align: center;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}